@model AfterMarketStocks.Models.BuySell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BuySell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.userStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.buy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.buy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sell)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.buySellId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
