@model IEnumerable<AfterMarketStocks.Models.BuySell>

@{
    ViewBag.Title = "Index";
}

<h2>Buy / Sell Stocks</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sell)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.buySellId }) |
            @Html.ActionLink("Details", "Details", new { id=item.buySellId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.buySellId })
        </td>*@
    </tr>
}

</table>


<form action="/BuySells/Charge" method="POST">
    <article>
        <label>Amount: $100.00</label>
    </article>
    <script src="//checkout.stripe.com/checkout.js"
            class="stripe-button"
            data-key="pk_test_SaFggqFgMnroET7tNmFFh8XL"
            data-locale="auto"
            data-description="Sample Charge"
            data-currency="usd"
            data-amount="">
    </script>
</form>