@model IEnumerable<AfterMarketStocks.Models.BuySell>

@{
    ViewBag.Title = "Buy/Sell";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userStock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sell)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userStock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sell)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.buySellId }) |
            @Html.ActionLink("Details", "Details", new { id=item.buySellId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.buySellId })
        </td>
    </tr>
}

</table>
