@model IEnumerable<AfterMarketStocks.Models.BuySell>

@{
    ViewBag.Title = "Buy/Sell";
}

<h2>Buy Stocks</h2>

@*<p>
    @Html.ActionLink("Add Potential Stock to Buy List", "Create")
    <a class="btn btn-primary" @Html.ActionLink("Add Potential Stock to Buy List", "Create")</a>
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentPrice)
        </th>
        
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentPrice)
        </td>       
        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.buySellId }) |
            @Html.ActionLink("Details", "Details", new { id=item.buySellId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.buySellId })
        </td>*@
        <td>
            <form action="/BuySells/AddStockAndRedirectToIndex/@item.buySellId" method="POST">
                <article>
                    <label>Buy Stock</label>
                </article>
                <script src="//checkout.stripe.com/checkout.js"
                        class="stripe-button"
                        data-key="pk_test_SaFggqFgMnroET7tNmFFh8XL"
                        data-locale="auto"
                        data-description="Sample Charge"
                        data-currency="usd"
                        data-amount="">
                </script>
            </form>
        </td>
    </tr>
}

</table>
<a class="btn btn-primary" @Html.ActionLink("Add Potential Stock to Buy List", "Create")</a>