@model IEnumerable<AfterMarketStocks.Models.MyStocks>

@{
    ViewBag.Title = "My Stocks";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.myStockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.myStockId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.myStockId })
        </td>
    </tr>
}

</table>
