@model IEnumerable<AfterMarketStocks.Models.UserstockJunction>

@{
    ViewBag.Title = "My Stocks";
}

<h2>My Stocks</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stock.stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.symbol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.currentPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock.currentPrice)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.myStockId }) |
            @Html.ActionLink("Details", "Details", new { id=item.myStockId }) |*@
            @Html.ActionLink("Sell Stock", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
<div>
    <a class="btn btn-primary" @Html.ActionLink("Add My Stocks To Watchlist", "Watchlist", "StockMarkets")</a>
</div>